.commonDialog {
  --el-dialog-padding-primary: 0;
  --el-dialog-border-radius: 0;
  --el-dialog-bg-color: var(--background-color);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  .el-dialog__header {
    padding: 12px 16px;
    height: 24px;
    background-color: var(--dialog-background-bar);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    z-index: 3;
    position: relative;

    .el-dialog__title {
      color: white;
      font-weight: bold;
    }

    .el-dialog__headerbtn {
      border-radius: 10px;

      .el-dialog__close {
        color: #ffffff !important;
        font-size: 24px !important;

        &:hover {
          transform: rotate(180deg);
          scale: 1.2;
          color: #ff5858 !important;
        }
      }
    }
  }

  .el-dialog__body {
    height: calc(100% - 128px);
    max-height: 70vh;
    padding: 16px;
    overflow-x: hidden;
    z-index: 1;
    position: relative;
    /* 对其中的第一个子组件设置高度为100% */

    > *:first-child {
      height: 100%;
      overflow: auto;
    }
  }

  .el-form {
    .el-form-item__label {
      border-left: 8px solid rgba(255, 162, 23, 0.5);
      padding-left: 8px;
      height: 22px;
      line-height: 22px;
      margin-bottom: 4px;
    }

    .el-form-item {
      padding: 8px 0;
      margin-bottom: 0;
    }

  }

  .el-dialog__footer {
    padding: 8px;
    background-color: var(--dialog-background-bar);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-radius: 0 0 8px 8px;
    height: 48px;
    z-index: 3;
    position: relative;

    .transfer {
      cursor: move;
      font-size: 32px;
      color: #ff5858;

      &:hover {
        svg {
          scale: 1.4;
        }
      }

      svg {
        padding: 4px;
        border-radius: 24px;
      }
    }

    .el-button + .el-button {
      margin-left: 0;
    }

    &:empty {
      padding: 0;
      height: 0;
    }
  }

  .cm-editor {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
}