* {
}

:root {
  --background-opacity: rgba(255, 255, 255, 0.6);
  --cursor-text: url("./cursor/text.cur");
}

.menu {
  .el-button.is-plain {
    --el-button-hover-text-color: #ffffff;
    background: repeating-linear-gradient(
        45deg,
        rgba(150, 150, 150, 0.3),
        rgba(150, 150, 150, 0.3) 40px,
        rgba(255, 255, 255, 0.1) 40px,
        rgba(255, 255, 255, 0.1) 80px
    );
    background-size: 200%;
    --el-button-hover-border-color: rgba(255, 255, 255);

    &:hover {
      animation: gradientScroll 1s ease-in-out infinite;
    }
  }

  .el-button {
    margin-left: 0;
    --el-border: unset;
    --el-button-bg-color: rgba(0, 0, 0, 0.1);
    --el-button-text-color: #ffffff;
    --el-button-border-color: #ffffff5A;

    &:hover {
      --el-button-border-color: #ffffff;
    }
  }

  .el-select__wrapper {
    --el-select-border-color-hover: rgba(255, 255, 255, 0.35);
    background: repeating-linear-gradient(
        45deg,
        rgba(150, 150, 150, 0.3),
        rgba(150, 150, 150, 0.3) 40px,
        rgba(255, 255, 255, 0.1) 40px,
        rgba(255, 255, 255, 0.1) 80px
    );
    background-size: 200%;

    &:hover {
      animation: gradientScroll 1s ease-in-out infinite;
    }

    .el-select__input, .el-select__placeholder {
      color: #ffffff;
    }
  }

  .el-checkbox.is-bordered {
    --el-border: 1px solid rgba(255, 255, 255, 0.35);
    --el-checkbox-bg-color: rgba(0, 0, 0, 0.1);
    --el-checkbox-checked-bg-color: rgba(255, 255, 255);
    --el-checkbox-checked-input-border-color: #ffffff;
    --el-checkbox-checked-icon-color: #fca76c;
    margin-right: unset;
    background: repeating-linear-gradient(
        45deg,
        rgba(150, 150, 150, 0.3),
        rgba(150, 150, 150, 0.3) 40px,
        rgba(255, 255, 255, 0.1) 40px,
        rgba(255, 255, 255, 0.1) 80px
    );
    background-size: 200%;

    &:hover {
      border-color: #ffffff;
      background: repeating-linear-gradient(
          45deg,
          rgba(150, 150, 150, 0.5),
          rgba(150, 150, 150, 0.5) 40px,
          rgba(255, 255, 255, 0.3) 40px,
          rgba(255, 255, 255, 0.3) 80px
      );
    }

    &.is-checked {
      border-color: #ffffff;
      animation: gradientScroll 2s ease-in-out infinite;
    }

    .el-checkbox__label {
      color: #ffffff;
    }
  }
}

el-tooltip {
  pointer-events: none;
}

.grid-stack-item>.ui-resizable-se {
  border-radius: 24px;
  padding: 4px;
  bottom: -4px;
  right: -4px;

  &:hover {
    transform: rotate(225deg);
  }
}

/* 代码编辑器 */
.v-codemirror {

  .cm-gutters-before {
    background-color: #f5f5f56e !important;
  }

  .cm-content {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    &:hover {
      cursor: var(--cursor-text), auto;
    }
  }
}

/* 设置滚动条整体样式，可设置宽度和高度 */
::-webkit-scrollbar {
  width: 8px; /* 竖直滚动条宽度 */
  height: 8px; /* 水平滚动条高度 */
}
/* 设置滚动条轨道样式 */
::-webkit-scrollbar-track {
}
/* 设置滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* 悬停时略微可见 */
  border-radius: 4px; /* 可根据需求设置滑块圆角 */
}
/* 可设置滑块悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* 悬停时略微可见 */
}

.el-textarea__inner {
  &:hover {
    cursor: var(--cursor-text), auto;
  }
  &:focus {
    animation: inputBlink 1s ease-in-out infinite;
  }
}

.el-input__wrapper {
  padding: 0;
  &.is-focus {
    box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset;
  }

  .el-input__inner {
    padding: 1px 12px;
    height: 100%;
    &:hover {
      cursor: var(--cursor-text), auto;
    }
    &:focus {
      animation: inputBlink 1s ease-in-out infinite;
    }
  }
}

.el-message {
  font-weight: bold;
  font-size: 24px;
  opacity: 0.8;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
}

/* 背景滚动动画 */
@keyframes gradientScroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-1px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes inputBlink {
  0%, 100% {
    box-shadow: inset 0 0 14px transparent;
  }
  50% {
    box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.4);
  }
}
